---
import "@/styles/blog.css";
import Icon from "@/components/Icon.astro";

import PostPreview from "@/components/Post/PostPreview.astro";
import { getGuestFromId } from "@/api/guest";

// Types
import type { CollectionEntry } from "astro:content";
import type { translations } from "@/i18n/utils";
import type { Post } from "@prisma/client";

interface Props {
    posts: CollectionEntry<'blog'>[];
    tags: string[];
}

const { lang, category } = Astro.params;
const { posts, tags } = Astro.props;

const sortedTags = tags.sort((tagA: string, tagB: string) => {
	return tagA.localeCompare(tagB);
});

// Authentication
const guestId = Astro.cookies.get("guest.id")?.value;
const guest = await getGuestFromId(guestId);
const isLogged = guestId !== undefined;

const markedPostsSlugs = guest?.readingList.map(
	(post: {
		slug: Post["slug"];
		views: Post["views"];
	}) => post.slug,
);

import { useTranslations } from "@/i18n/utils";
const t = useTranslations(lang as keyof typeof translations).blog;
---

<script>
    import { eraseCookie } from "@/utils/cookies";

    function redirectToGithub() {
        const GITHUB_URL = "https://github.com/login/oauth/authorize";
        const params = new URLSearchParams({
            client_id: import.meta.env.PUBLIC_GITHUB_CLIENT_ID,
            scope: "user:email read:user",
            state: "portfolio-test",
            redirect_uri: import.meta.env.PUBLIC_GITHUB_REDIRECT_URI,
        });

        const authURL = `${GITHUB_URL}?${params.toString()}`;
        // console.log(authURL)

        window.location.href = authURL;
    }

    const loginButton = document.getElementById(
        "loginButton"
    ) as HTMLButtonElement;
    if (loginButton) {
        loginButton.addEventListener("click", redirectToGithub);
    }

    function logout() {
        eraseCookie("guest.id");
        location.reload();
    }

    const logoutButton = document.getElementById(
        "logoutButton"
    ) as HTMLButtonElement;
    if (logoutButton) {
        logoutButton.addEventListener("click", logout);
    }
</script>

<main class="blog">
    <header class="wrapper">
        <h1>{t.title}</h1>
        {
            isLogged ? (
                <div class="bookmarksContainer">
                    <a class="button" href="/blog/bookmarks">
                        <Icon
                            class="icon"
                            fill={"var(--primary-01)"}
                            name="bookmark.svg?raw"
                            aria-label="Bookmark icon"
                        />
                        {t.reading_list.title}
                    </a>
                    <button
                        id="logoutButton"
                        class="button"
                        style="padding-inline: 1.5rem;"
                    >
                        <Icon
                            class="icon"
                            fill={"var(--primary-01)"}
                            name="logout.svg?raw"
                            aria-label="Logout icon"
                        />
                    </button>
                </div>
            ) : (
                <div class="loginRequest">
                    <h6 class="subtitle" style="white-space: pre-line;">
                        {t.login.title}
                    </h6>
                    <button
                        id="loginButton"
                        class="button inverted fill"
                        style={{
                            fontSize: `1.4rem`,
                            fontFamily: "Inter Variable",
                            fontWeight: 600,
                            paddingBlock: "1rem",
                            borderRadius: "0.5rem",
                        }}
                    >
                        <Icon
                            name={"enterprises/github"}
                            aria-label="Github icon"
                            class="w-6 h-6"
                        />
                        {t.login.button}
                    </button>
                </div>
            )
        }
    </header>

    <nav>
        <div id="tagsHolder" class="tagsHolder wrapper right">
            <div class="limit left"></div>
            <ul id="tagsScroll" class="tags">
                <li class={`tag ${category === undefined ? "active" : ""}`}>
                    <a style="z-index: 100;" href={`/${lang}/blog`}
                        >{t.tags.all}</a
                    >
                    <div id="selectionCircle" class="selectionCircle"></div>
                </li>
                <div class="divisor"></div>
                {
                    sortedTags.map((tag: string, index: number) => {
                        return (
                            <Fragment>
                                <li
                                    title={tag}
                                    class={`tag ${
                                        category === tag ? "active" : ""
                                    }`}
                                >
                                    <a href={`/blog/category/${tag}`} data-astro-prefetch>
                                        #{tag}
                                    </a>
                                </li>
                                {index !== tags.length - 1 && (
                                    <div class="divisor" />
                                )}
                            </Fragment>
                        );
                    })
                }
            </ul>
            <div class="limit right"></div>
        </div>
    </nav>

    {
        posts.length > 0 ? (
            <section id="postsContainer" class="posts wrapper">
                {posts.map((post, index) => {
                    const hasMarked = guest && markedPostsSlugs?.includes(post.slug) ? true : false;

                    return (
                        <PostPreview
                            highPriority={index <= 5}
                            isLogged={isLogged}
                            post={post}
                            tags={post.data.tags}
                            hasMarked={hasMarked}
                        />
                    );
                })}
            </section>
        ) : (
            <div class="empty">
                <h2>Oops!</h2>
                <h5>{t.tags.empty}</h5>
            </div>
        )
    }
</main>
