---
import "@/styles/bookmarks.css";
import "@/styles/post.css";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Icon from "@/components/Icon.astro";

import Footer from "@/components/Footer/Footer.astro";
import Header from "@/components/Header/Header.astro";
import PostPreview from "@/components/Post/PostPreview.astro";

import { getGuestFromId } from "@/api/guest/index";

const guestId = Astro.cookies.get("guest.id")?.value;

if (!guestId) {
	Astro.redirect("/blog");
}

const guest = await getGuestFromId(guestId as string);

if (!guest) {
	Astro.redirect("/blog");
}

import { getCollection } from "astro:content";
import { getBlogTags } from "@/lib/blog";

const allPosts = await getCollection("blog");
const tags = getBlogTags(allPosts);

if (!guest) {
	return Astro.redirect("/404");
}

const guestReadingListTitles = guest.readingList.map((post: Post) => post.slug);

const posts = allPosts.filter((post) => {
	return guestReadingListTitles.includes(post.slug);
});

const seo = {
	title: "Blog",
	description: "The blog of my simple porfolio.",
};

export const prerender = false;

import { useTranslations } from "@/i18n/utils";
import type { translations } from "@/i18n/utils";
import type { Post } from "@prisma/client";

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof translations).blog;
---

<BaseLayout seo={seo}>
    <Header />
    <main class="bookmarks wrapper">
        <nav>
            <div class="subtitle marginTop">
                <p style="font-size: 2.8rem;">{t.title}</p>
                <div></div>
            </div>
            <a href="/blog" class="back">
                <Icon
                    name={"left_arrow"}
                    aria-label={"Back arrow"}
                />
                {t.return_button}
            </a>
        </nav>
        <section class={`posts ${posts.length === 0 ? "empty" : ""}`}>
            {
                posts.length > 0 ? (
                    posts.map((post) => <PostPreview post={post} tags={post.data.tags} />)
                ) : (
                    <div class="empty">
                        <h2>{t.reading_list.empty.title}</h2>
                        <h5>{t.reading_list.empty.subtitle}</h5>
                    </div>
                )
            }
        </section>
    </main>
    <Footer />
</BaseLayout>
